.box_title{color: #fff;font-size: 20px;padding-top: 20px;}
.box_paragraph{color: #ccc; font-size: 12px;padding-bottom: 15px;padding-top: 10px;text-align: justify;}
.box_title4{color: #000;font-size: 15px;padding-top: 5px;padding-bottom: 10px;}
.box_paragraph4{color: #000;font-size: 10px;}
.box_title5{color: #dcd7d6;padding-top: 20px;padding-bottom: 20px;font-size: 15px;}
.box_paragraph5{color: #dcd7d6;font-size: 10px;text-align: justify;}
input.widget_form{ background-color:#dcd7d6; border:1px solid #bbb; color:#000;line-height: 30px;width: 180px;}
textarea.widget_form{ background-color:#dcd7d6; border:1px solid #bbb; color:#000;line-height: 30px;width: 180px;}